html {
  box-sizing: border-box;
  font-family: Georgia;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #bebebe;
  margin: 0;
}
img {
  width: 100%;
}

h2,h3 {
  font-family: PT Sans Narrow;
}

header {
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
  "left center right"
  ". center ."
}

header h1 {
  margin: 0;
  grid-area: center;
  z-index: 1;
}

nav {
  background: #bd027d;
  grid-column: 1/-1;
  grid-row: 1;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 1.5rem 1rem;
}

nav ul li {

}

nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.125rem;
  font-family: PT Sans Narrow;
  padding: 1rem;
  border: 2px solid #960062;
  border-radius: 6px;
}

main {
  padding: 1rem;
}

section ul {
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

section ul li {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
